# .npmrc
overrides.@types/react=^19
overrides.@types/react-dom=^19
# Establece un tiempo de espera de 24 horas (1440 minutos)
# Antes de este tiempo, npm/pnpm no instalará una versión recién publicada.
min-release-age=1440